*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
boyd{
    background-color: gray;
}

.container{
    background-color: black;
    font-size: xx-large;
    width: 200px;
    height: 100vh;
    overflow: hidden;
    
}
a{ text-decoration: none;}